bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# Сборка и вывод (папки bin и obj)
[Bb]in/
[Ob]j/

# Файлы Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Файлы VS Code
.vscode/

# Результаты тестов и логи
TestResults/
*.log

# Директории пакетов (NuGet)
packages/